* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    margin: 25px;
}

.header {
    display: flex;
    margin-top: 25px;
}

.navbar {
    display: flex;
    color: white;
}

.navbar img {
    height: 30px;
    margin-right: 80px;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    gap: 3rem;
    margin-right: 28rem;
    text-decoration: none;
    
}

.seacrh {
    display: flex;
    margin-left: 20px;
}

.search-bar {
    background: transparent;
    border-radius: 10px;
    border: white;
}

.sub {
    justify-content: center;
    display: flex;
    position: relative;
}

.container {
    position: absolute;
    justify-items: center;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: -100vh;
}

.title span {
    margin-left: 50px;
    letter-spacing: 2px;
}

.title p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 16px;
}

.main-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 16px;
    background-color: white;
    margin: 5px;

    img {
        margin-top: 2px;
        border: none;
    }
}

.main-btn2 {
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 16px;
    background-color: black;
    margin: 5px;
    text-decoration: none;

    img {
        margin-top: 2px;
        border: none;
    }
}

.button {
    display: flex;
    gap: 5rem;
   
}




