* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

.header-container {
    display: flex;
    padding: 20px;
    background-image: url('public/images/background image.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    justify-content: space-between;

    img {
        height: 30px;
        width: 110px;
        margin-top: -10px;
    }
}

li {
    margin-bottom: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    font-weight: bold;
}

ul {
    display: flex;
    margin-right: 300px;
    gap: 4rem;
}

.search {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    img {
        height: 60px;
        width: 70px;
        margin-right: 20px;
    }
}

.search-bar {
    background: transparent;
    border-radius: 10px;
    height: 25px;
    border-color: rgb(252, 239, 239);
}

.sub {
    justify-content: center;
    display: flex;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: -450px;
}

.list {
    display: flex;
    gap: 1px;
    margin-left: 10px;
}

.title span {
    color: white;
    letter-spacing: 2px;
    margin-top: 10px;
}

p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

.rank {
    border: 0.5px solid white;
    border-radius: 20px;
    color: white;
    padding: 8px 12px;
    background-color: transparent;
}

.main-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: white;
    margin: 5px;
    display: flex;
}

.main-btn2 {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: black;
    margin: 5px;
    display: flex;
    color: white;
}

.button {
    display: flex;
    gap: 5rem;
}

.display {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-right: 50%;
}

.footer {
    color: white;
    margin-top: 30px;
    margin: 20px;
    margin-bottom: 20px;
}

.end-sec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-detail {
    flex-direction: column;
    display: flex;

    h4 {
        margin-bottom: 8px;
    }
}

.detail-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: ;

    h4 {
        margin-bottom: 8px;
    }
}

.detail-3 {
    display: flex;
    flex-direction: column;
}

.detail-3 span {
    border: none;
    border-radius: 20px;
    padding: 8px 14px;
    margin-top: 10px;
    background-color: #2e2a2a;
    margin-left: 4px;
    height: 25px;
}

.detail-4 h4 {
    margin-bottom: 8px;
}

.image {
    justify-content: space-between;
    gap: 2rem;
    display: flex;
    height: 30px;
}

.detail-5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    img {
        margin-top: 8px;
        margin-right: 20px;
        height: 40px;
    }
}

.detail-5 h4 {
    margin-right: 10px;
    text-align: center;
}

.last-sec {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: 20px;
}

.last-sec2 {
    display: flex;
    gap: 3rem;
}